@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:ital@1&display=swap');

.form-control-lg {
  width: 100px;
  text-align: center;
}

body {
  background-image: url('./img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
}

.SidePanel {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 30%;
  text-align: center;
}

.SidePanel div {
  margin-top: 60px;
}

.SidePanel p {
  margin: 20px auto;
  width: 90%;
  font-size: 20px;
  color: rgb(253, 252, 239);
}

.SidePanel .btn {
  margin: 40px auto;
}

.RowArea {
  padding-top: 50px;
  position: absolute;
  height: 100%;
  width: 70%;
  left: 30%;
  text-align: center;
}

.RowArea .WinningRow {
  margin: 16px auto;
  z-index: -1;
  font-weight: 500;
}